@use "@/styles/main" as *;

@keyframes InputPop {
	from {
		transform: scale(0.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes SpanPop {
	from {
		transform: scale(0.3);
		opacity: 0;
		box-shadow: 0px 0px 5px 1px white;
	}
	to {
		transform: scale(1.1);
		opacity: 1;
		box-shadow: 0px 0px 10px 3px white;
	}
}

@mixin generateBadGuessKeyframes($name) {
	@keyframes #{$name} {
		0% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(1rem);
		}
		50% {
			transform: translateX(0);
		}
		75% {
			transform: translateX(-1rem);
		}
		100% {
			transform: translateX(0);
		}
	}
}
@include generateBadGuessKeyframes(ShortGuess);
@include generateBadGuessKeyframes(NotFoundGuess);

@keyframes InputUpdate {
	from {
		opacity: 0.3;
		transform: rotateY(0deg) scale(0.4);
	}
	to {
		opacity: 1;
		transform: rotateY(360deg) scale(1.1);
	}
}

.input-container {
	@include display-flex(column);
	align-items: center;
	margin-top: 0.3rem;

	.span-complete {
		background-color: rgba(255, 255, 255, 0.626);
		box-shadow: 0px 0px 10px 3px white;
	}
	.pop {
		animation: SpanPop 150ms;
	}
	.short-guess {
		animation: ShortGuess 50ms;
		animation-iteration-count: 10;
	}
	.notfound-guess {
		animation: NotFoundGuess 50ms;
		animation-iteration-count: 10;
	}

	input[type="text"] {
		@include general-properties(2.5rem, 2.5rem, rgba(228, 228, 228, 0.3));
		@include font-game-input;
		margin: 0.15rem;
		user-select: none;

		$inputs: (
			bull: rgb(36, 199, 36),
			cow: rgb(238, 238, 16),
			wrong: rgb(128, 128, 128)
		);
		@each $class, $backColor in $inputs {
			&.#{$class} {
				background-color: #{$backColor};
				border: 1px solid #{$backColor};
				color: white;
				-webkit-text-fill-color: white;
				animation: InputUpdate 1s;
			}
		}

		&::selection {
			color: none;
			background: none;
		}
		&::-moz-selection {
			color: none;
			background: none;
		}
	}
	.current-input {
		background-color: white !important;
		box-shadow: 0px 0px 10px 3px white;
		animation: InputPop 300ms;
	}
}
