@use "@/styles/main" as *;

.defeat-background {
	@include general-properties(100dvw, 100dvh, rgba(10, 6, 55, 0.867));
	position: absolute;
	z-index: 1;
	top: 0;
	overflow: hidden;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

.area {
	@include general-properties(100%, 100dvh, transparent);

	.circles {
		@include general-properties(100%, 100%, inherit);
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		overflow: hidden;
	}

	.circles li {
		@include general-properties(1.2rem, 1.2rem, rgba(255, 255, 255, 0.646));
		position: absolute;
		display: block;
		list-style: none;
		background: rgba(255, 255, 255, 0.646);
		animation: animate 25s linear infinite;
		bottom: -150px;
	}
	$circles: (
		(25%, 80px, 80px, 0s, null),
		(10%, 20px, 20px, 2s, 12s),
		(70%, 20px, 20px, 4s, null),
		(40%, 60px, 60px, 0s, 18s),
		(65%, 20px, 20px, 0s, null),
		(75%, 110px, 110px, 3s, null),
		(35%, 150px, 150px, 7s, null),
		(50%, 25px, 25px, 15s, 45s),
		(20%, 15px, 15px, 2s, 35s),
		(85%, 150px, 150px, 0s, 11s)
	);

	@for $i from 1 through length($circles) {
		$circle: nth($circles, $i);
		$left: nth($circle, 1);
		$width: nth($circle, 2);
		$height: nth($circle, 3);
		$animation-delay: nth($circle, 4);
		$animation-duration: nth($circle, 5);

		.circles li:nth-child(#{$i}) {
			left: $left;
			width: $width;
			height: $height;
			animation-delay: $animation-delay;
			@if $animation-duration != null {
				animation-duration: $animation-duration;
			}
		}
	}
}
