@use "@/styles/main" as *;

.start-game {
	@include general-properties(auto, auto, rgb(156 142 229));
	@include display-flex(column);
	max-height: 98%;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
	position: relative;

	@include media-query($media-md) {
		max-width: 98dvw;
	}

	.start-game-card {
		@include display-flex(column);
		align-items: center;
		margin: 0.3rem;
		.page-title {
			@include media-query($media-md) {
				margin: 0.8rem 0.6rem 1rem 0.3rem;
			}
		}
	}
}
