@use "@/styles/main" as *;

.main-container {
  @include general-properties(100dvw, 80dvh, $bg-main);
  @include display-flex();
  transition: 1s;
  justify-content: center;
  align-items: center;

  @include media-query($media-md) {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
