@use "@/styles/main" as *;

.home-page {
  @include general-properties(100%, 100%);
  @include display-flex(column);
  align-items: center;
  justify-content: center;

  img {
    @include image(19rem, 8rem, cover);
    margin: 0.2rem 0 0.2rem 0;

    @include media-query($media-md) {
      margin: 1rem;
    }
  }
}
