@use "@/styles/main" as *;

.keyboard-container {
	@include general-properties(65dvw, 100%, inherit);
	@include display-flex(column);
	gap: 0.3rem;
	margin: 0.3rem;

	@include media-query($media-md) {
		@include general-properties(85dvw, 30%, inherit);
		margin: 0.5rem;
	}
	@include media-query($media-sm) {
		@include general-properties(95dvw, 30%, inherit);
	}

	.container-row {
		flex: 1 1 auto;
		@include display-flex(row);
		gap: 0.3rem;

		@include media-query($media-md) {
			gap: 0.2rem;
		}

		.btn-digital-keyboard {
			// properties defined at components/_buttons
			&:hover {
				box-shadow: 0px 0px 6px 2px white;
				opacity: 0.8;
			}
			&:active {
				box-shadow: 0px 0px 10px 6px white;
				opacity: 0.6;
			}
		}
	}
}
