@use "../../styles/main" as *;

.dashboard-container {
  @include general-properties(100%, 100%);
  @include display-flex();
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 780px) {
  .dashboard-container {
    flex-wrap: wrap;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      background: #ffe4e4;
    }

    &::-webkit-scrollbar-thumb {
      background: hsl(0, 15%, 36%);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #3e2828;
    }
  }
}

@keyframes points-skeleton-loading {
  0% {
    background-color: rgba(137, 235, 137, 0.878);
  }
  100% {
    background-color: rgba(116, 216, 116, 0.898);
  }
}

@keyframes ranking-skeleton-loading {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.9);
  }
}
