.dashboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 780px) {
  .dashboard-container {
    flex-wrap: wrap;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      background: #ffe4e4;
    }

    &::-webkit-scrollbar-thumb {
      background: #694d4d;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #3e2828;
    }
  }
}

@keyframes points-skeleton-loading {
  0% {
    background-color: hsla(120, 71%, 73%, 0.878);
  }
  100% {
    background-color: hsla(120, 56%, 65%, 0.898);
  }
}

@keyframes ranking-skeleton-loading {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.9);
  }
}
