@use "../../../styles/main" as *;

.footer {
  @include general-properties(100dvw, 8dvh, $bg-footer);
  @include display-flex();
  align-items: center;
  text-align: center;

  section {
    @include display-flex();
    height: 100%;
    align-self: flex-start;
    align-items: center;
    justify-content: center;

    .btn-image {
      margin: 0.2rem;
    }
  }

  p {
    @include font($fontVarellaRound, 1rem, $color, center);
    flex: 1;
    margin: 0;
  }
}
