@mixin general-properties($width, $height, $backgroundColor) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
}
@mixin font($family, $size, $color, $textAlign: start) {
  font-family: $family;
  font-size: $size;
  color: $color;
  text-align: $textAlign;
}
@mixin image($width, $height, $objectFit) {
  width: $width;
  height: $height;
  object-fit: $objectFit;
  user-select: none;
}
