@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
	--navbar-background: rgb(255, 255, 138);
	--color: black;
	--menu-background: rgb(156, 233, 156);
	--main-background: rgb(255, 194, 194);
	--footer-background: rgb(255, 255, 138);
}

[data-theme='dark'] {
	--navbar-background: rgb(60 48 48);
	--color: white;
	--menu-background: rgb(37 60 37);
	--main-background: rgb(61 61 64);
	--footer-background: rgb(60 48 48);

	[data-theme-confirmation] {
		box-shadow: 0px 0px 0px 20px white inset;
		border-radius: 50%;
		transition: 1s;
	}
}
