@use "./fonts" as *;
@use "./variables" as *;

// element general properties
@mixin general-properties($width, $height: auto, $backgroundColor: transparent) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
}
@mixin display-flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

// image
@mixin image($width, $height, $objectFit) {
  width: $width;
  height: $height;
  object-fit: $objectFit;
  user-select: none;
}

// fonts
@mixin font($family, $size, $color, $textAlign: start) {
  font-family: $family;
  font-size: $size;
  color: $color;
  text-align: $textAlign;
}
@mixin font-game-input {
  font-family: $fontGame;
  font-size: 1.3rem;
  font-weight: 600;
  color: $color;
  text-align: center;
  caret-color: transparent;
  text-transform: uppercase;
  user-select: none;
  pointer-events: none;
  border: 1px solid white;
  border-radius: 5px;
}

// media query
@mixin media-query($size) {
  @media (max-width: $size) {
    @content;
  }
}
