@use "./colors" as *;
@use "./fonts" as *;

// background colors
$bg-nav: $bg-yellow;
$bg-menu: $bg-green;
$bg-main: $bg-pink;
$bg-footer: $bg-yellow;

$filter: var(--filter);
$color: var(--color);

// media query sizes
$media-sm: 400px;
$media-md: 780px;
