@keyframes turn {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.home-page {
  width: 100dvw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  img {
    width: 20rem;
    height: auto;
    object-fit: cover;
    user-select: none;
  }

  .cube-container {
    position: relative;
    perspective: 550px;
    margin: 3rem;
  }

  .cube {
    position: relative;
    width: 16rem;
    height: 16rem;
    transform-style: preserve-3d;
    animation: turn 20s linear 1s infinite;
    &:hover {
      animation-play-state: paused;
    }
  }

  .face {
    width: 16rem;
    height: 16rem;
    position: absolute;
    opacity: 0.95;
    display: flex;
    user-select: none;
    text-shadow: 0px 0px 10px black;
    border: 0;
    &:hover {
      opacity: 1;
    }
  }
  .welcome {
    transform: translateZ(8rem);
    background-color: #02d502;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;

    h6 {
      font-size: 1.1rem;
      margin: 0.5rem;
      text-align: center;
    }
    p {
      text-align: justify;
      font-size: 1rem;
      margin: 0.5rem;
    }
  }
  .info {
    transform: translateZ(-8rem) rotateY(180deg);
    background-color: #02d502;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        color: blue;
        align-self: center;
      }
    }
  }
  .account {
    transform: translateX(-8rem) rotateY(-90deg);
    background-color: #ffff30;
    flex-direction: column;
    align-items: center;
    color: white;
    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    p {
      text-align: center;
    }
    a {
      align-self: center;
      color: blue;
      font-weight: 400;
      &:visited {
        color: blue;
      }
    }
  }
  .how-to-play {
    transform: translateX(8rem) rotateY(90deg);
    background-color: #d02020;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    line-height: 1rem;
    color: white;
    p {
      margin: 0.5rem;
    }
    h6 {
      font-size: 1rem;
      margin: 0.5rem;
    }
    section {
      display: flex;
      flex-direction: column;
      height: 100%;
      span {
        display: flex;
        flex-direction: row;
        font-size: 0.7rem;
        height: 100%;
        margin: 0.3rem;
        p {
          text-align: justify;
          margin: 0;
          align-self: flex-end;
        }
        input {
          width: 20px;
          height: 20px;
          margin: 2px;
          text-align: center;
          color: white;
          font-weight: 400;
          text-shadow: 0px 0px 1px black;
        }
        .wrong {
          background-color: gray;
        }
        .bull {
          background-color: green;
        }
        .cow {
          background-color: rgb(226, 226, 23);
        }
      }
    }
  }
  .top {
    transform: translateY(-8rem) rotateX(90deg);
    background-color: white;
  }
  .bottom {
    transform: translateY(8rem) rotateX(-90deg);
    background-color: white;
  }
}

@media (max-width: 700px) {
  .home-page {
    .welcome {
      h6 {
        margin: 0.3rem;
      }
      p {
        margin: 0.3rem;
      }
    }
    input {
      -webkit-text-fill-color: white;
      opacity: 1;
    }
  }
}
