@keyframes turn {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.home-page {
  width: 100dvw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 350px;
    height: auto;
    margin: 10px;
  }

  .cube-container {
    position: relative;
    perspective: 550px;
    margin-top: 2.5%;
  }

  .cube {
    position: relative;
    width: 260px;
    height: 260px;
    transform-style: preserve-3d;
    animation: turn 20s linear 1s infinite;
    &:hover {
      animation-play-state: paused;
    }
  }

  .face {
    width: 260px;
    height: 260px;
    position: absolute;
    opacity: 0.95;
    display: flex;
    border-radius: 2px;
    user-select: none;
    text-shadow: 0px 0px 10px black;
    p {
      margin: 5px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .welcome {
    transform: translateZ(130px);
    background-color: #02d502;
    border: 0;
    align-items: center;
    p {
      text-align: justify;
      color: white;
      font-size: 1.02rem;
      margin: 20px;
    }
  }
  .info {
    transform: translateZ(-130px) rotateY(180deg);
    background-color: #02d502;
    border: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        color: blue;
        align-self: center;
      }
    }
  }
  .account {
    transform: translateX(-130px) rotateY(-90deg);
    background-color: #ffff30;
    border: 0;
    flex-direction: column;
    align-items: center;
    color: white;
    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    p {
      text-align: center;
      margin-top: 30px;
    }
    a {
      align-self: center;
      color: blue;
      font-weight: 400;
      &:visited {
        color: blue;
      }
    }
  }
  .how-to-play {
    transform: translateX(130px) rotateY(90deg);
    background-color: #d02020;
    border: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 18px;
    color: white;
    h6 {
      margin: 5px;
    }
    section {
      display: flex;
      flex-direction: column;
      span {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        margin: 2px;
        p {
          text-align: initial;
        }
        input {
          width: 20px;
          height: 20px;
          margin: 2px;
          text-align: center;
          color: white;
          font-weight: 400;
          text-shadow: 0px 0px 1px black;
        }
        .wrong {
          background-color: gray;
        }
        .bull {
          background-color: green;
        }
        .cow {
          background-color: rgb(226, 226, 23);
        }
      }
    }
  }
  .top {
    transform: translateY(-130px) rotateX(90deg);
    background-color: white;
    border: 0;
  }
  .bottom {
    transform: translateY(130px) rotateX(-90deg);
    background-color: white;
    border: 0;
  }
}

@media (max-width: 700px) {
  .home-page {
    overflow: hidden;

    img {
      width: 85%;
      margin: 5px;
    }

    .cube-container {
      width: 250px;
      height: 250px;
      perspective: 2500px;
      margin-top: 10%;
      margin-right: 2.2%;
    }

    input {
      -webkit-text-fill-color: white;
      opacity: 1;
    }
  }
}
