@import "../style/global.css";

html {
	all: unset;
	font-family: "Varela Round", sans-serif;
	overflow: hidden;
	font-size: 15px;
}
body {
	all: unset;
}

@mixin general-properties($width, $height, $backgroundColor) {
	width: $width;
	height: $height;
	background-color: $backgroundColor;
}
@mixin font($family, $size, $color) {
	font-family: $family;
	font-size: $size;
	color: $color;
}
@mixin image($width, $height, $objectFit) {
	width: $width;
	height: $height;
	object-fit: $objectFit;
	user-select: none;
}

.app {
	@include general-properties(100dvw, 100dvh, rgb(255, 236, 236));
	@include font(var(--font-varella-round), 1rem, black);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.navbar {
	@include general-properties(100dvw, 12dvh, var(--navfooter-background));
	max-height: 13dvh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.wordle-icon {
		max-height: 100%;
		img {
			@include image(5rem, auto, cover);
		}
	}

	section {
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;
		margin-right: 0.5rem;

		.user-logged {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			user-select: none;
			.user-greet {
				max-width: 10rem;
				font-size: 1.4rem;
				text-overflow: clip;
				overflow: hidden;
				white-space: nowrap;
				margin: 0;
				font-family: "Varela Round", sans-serif;
				a {
					text-decoration: underline;
					font-weight: 600;
					color: var(--color);
				}
			}
			.signout-button {
				height: 1.8rem;
				width: 7rem;
				font-family: "Varela Round", sans-serif;
				font-size: 1rem;
				background-color: #f87a7a;
				border-radius: 3%;
				border: 1px solid #f87a7a;
				color: white;
				align-self: center;
				cursor: pointer;

				&:hover {
					background-color: #ee7373;
					box-shadow: 0px 0px 3px 1px white;
				}
				&:active {
					background-color: #cc6161;
					box-shadow: 0px 0px 6px 2px white;
				}
			}
		}

		.menu-icon {
			background-color: #ffffff00;
			border: 0;
			text-align: center;
			cursor: pointer;

			.menu-img {
				@include image(3rem, auto, cover);
				border-radius: 50%;
				box-shadow: 0px 0px 10px 0px rgb(255, 255, 138);
				transition: 1s;
			}

			&:hover {
				.menu-img {
					background-color: rgb(255, 255, 255);
					box-shadow: 0px 0px 10px 0px #04ff00;
				}
			}
			&:active {
				.menu-img {
					box-shadow: 0px 0px 12px 3px #36643f;
				}
			}
		}
	}
}

.menu-container {
	@include general-properties(0dvhw, 80dvh, var(--menu-background));
	position: absolute;
	z-index: 1;
	top: 12dvh;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 0px 20px 0px black;
	border-radius: 0% 1% 1% 0%;
	overflow: hidden;
	transition: 0.7s;

	.menu-title {
		@include font(var(--font-varella-round), 4rem, white);
		margin: 1rem;
		user-select: none;
	}

	ul {
		width: auto;
		margin: 0;
		padding: 0;

		li {
			@include font(var(--font-varella-round), 1.5rem, white);
			list-style-type: none;
			margin-left: 2rem;
			margin-right: 2rem;
			margin-bottom: 1rem;
			user-select: none;
			&:hover {
				background-color: #9fff9d86;
			}
			&:active {
				background-color: #8eff8c9e;
			}
		}

		a {
			text-decoration: none;

			&:hover {
				text-shadow: 0px 0px 2px white;
			}
			&:active {
				text-shadow: 0px 0px 4px white;
			}
		}
	}
}

.main-container {
	@include general-properties(100dvhw, 80dvh, var(--main-background));
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	@include general-properties(100dvw, 8dvh, var(--navfooter-background));
	display: grid;
	grid-template-columns: min-content auto min-content;
	align-items: center;
	text-align: center;

	section {
		height: 100%;
		align-self: flex-start;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		button {
			border: 0;
			border-radius: 50%;
			margin-left: 1rem;
			margin-right: 1rem;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			user-select: none;
			img {
				@include image(2rem, 2rem, contain);
			}
		}
	}

	p {
		@include font(var(--font-varella-round), 1rem, black);
		margin: 0;
	}
}

@media (max-width: 700px) {
	.main-container {
		overflow-y: auto;
		overflow-x: hidden;
	}
}
