@use "@/styles/main" as *;

html {
	all: unset;
	overflow: hidden;
}
body {
	all: unset;
}

.app {
	@include general-properties(100dvw, 100dvh, rgb(255, 236, 236));
	@include display-flex(column);
	@include font($fontVarellaRound, 1rem, $color);
	overflow: hidden;
}
