@use "../abstracts/index" as *;

.btn {
  @include general-properties(18.75rem, 2.5rem, inherit);
  @include font($fontVarellaRound, 1rem, white, center);
}
// sign-in and sign-up button
.btn-auth {
  @extend .btn;
  background-color: rgb(103, 217, 68);
  margin: 0.2rem 0.2rem 0 0.2rem;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
    background-color: rgb(61, 149, 34);
    box-shadow: 0px 0px 15px 0px gray;
  }
  &:disabled {
    opacity: 0.8;
  }
}

// sign-in and sign-up button for Google OAuth
.btn-oauth-google {
  @extend .btn;
  @include display-flex(row);
  align-items: center;
  background-color: rgb(207, 207, 207);
  margin: 0.5rem 0.5rem 1rem 0.5rem;

  &:disabled {
    opacity: 0.8;
  }

  .google-icon {
    @include image(2rem, 2rem, cover);
  }
  p {
    color: white;
    margin: auto;
    font-weight: 500;
  }
  &:hover {
    background-color: rgb(186, 186, 186);
  }
  &:active {
    background-color: rgb(156, 156, 156);
    box-shadow: 0px 0px 5px 0px black;
  }
}

// sign-out button
.btn-logout {
  @include general-properties(6.5rem, 1.8rem, #f87a7a);
  @include font($fontVarellaRound, 1rem, white, center);
  border-radius: 3px;
  border: 1px solid #f87a7a;
  align-self: center;
}

// buttons that use an Image
.btn-image {
  @include general-properties(auto, auto);
  @include display-flex();
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;

  .menu-icon {
    @include image(3rem, auto, cover);
    border-radius: 50%;
    filter: invert($filter);
    transition: 1s;
  }

  .footer-icon {
    @include image(2rem, 2rem, contain);
    filter: invert($filter);
    transition: 1s;
  }
}

// buttons for the digital keyboard
@keyframes KeyUpdate {
  from {
    transform: scale(0.8);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.btn-digital-keyboard {
  @include general-properties(auto, auto, white);
  @include font($fontGame, 1.2rem, black, center);
  flex: 1 2 auto;
  border-radius: 6px;
  border: 1px solid rgb(91, 90, 90);
  font-weight: 500;

  @include media-query($media-md) {
    font-size: 1rem;
  }

  &.enter-backspace {
    flex: 2 1 1;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
  }

  // creating classes [cow, bull, wrong] and respective properties
  @each $class, $bg-color in $gameColors {
    &.#{$class} {
      background-color: #{$bg-color};
      border: 1px solid #{$bg-color};
      color: white;
      animation: KeyUpdate 1s;
    }
  }
}
