@use "@/styles/main" as *;

.signin-card {
	@include general-properties(40rem, auto, $bg-nav);
	@include display-flex(column);
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 0 0.3rem 0 white;

	.image-title {
		@include image(14rem, auto, cover);
		margin-top: 0.6rem;
	}

	@include media-query($media-md) {
		@include general-properties(90dvw, auto, $bg-nav);
		.image-title {
			width: 13rem;
		}
	}

	.form {
		margin: 0.3rem;
		text-align: center;
		@include media-query($media-md) {
			margin: 0;
		}

		.container {
			@include display-flex(column);
			gap: 0;
			margin: 0.3rem;

			.input-box {
				@include display-flex(column);
				margin: 0.3rem;
				label {
					@include font($fontVarellaRound, 1.1rem, $color);
					float: left;
					margin: 0.2rem 0 0.2rem 0;
				}
				input {
					@include general-properties(18.75rem, 1.7rem, rgb(255, 255, 255));
					@include font($fontVarellaRound, 1rem, black);
					border: 1px solid white;
					&:focus,
					&:focus-visible {
						border: 1px solid rgb(255, 255, 255);
						box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.96);
					}
				}
				.error {
					@include font($fontVarellaRound, smaller, red);
					float: right;
					margin-top: 0.3rem;
				}
			}
			// sign up styling
			&:has(:nth-child(4)) {
				@include display-flex(row);
				@include media-query($media-md) {
					@include display-flex(column);

					.input-box {
						margin: 0;
					}
				}
				label {
					margin: 0;
				}
				input {
					margin: 0.2rem 0.2rem 0.2rem 0;
				}
			}
		}
	}
	.oauth-google {
		@include display-flex();
	}
}
