@use "../../styles/main" as *;

.signin-card {
	@include general-properties(40rem, 90%, $bg-nav);
	@include display-flex(column);
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 0 0.3rem 0 white;

	img {
		@include image(14rem, auto, cover);
		margin-top: 0.6rem;
		pointer-events: none;
	}

	@include media-query($media-md) {
		@include general-properties(90dvw, auto, $bg-nav);
		img {
			width: 13rem;
		}
	}

	.form {
		margin: 0.3rem;
		text-align: center;
		@include media-query($media-md) {
			margin: 0;
		}

		.container {
			@include display-flex(column);
			gap: 0;
			margin: 0.3rem;
			&:has(:nth-child(4)) {
				@include display-flex(row);
				@include media-query($media-md) {
					@include display-flex(column);

					.input-box {
						margin: 0;
					}
				}
			}
			.input-box {
				@include display-flex(column);
				margin: 0.3rem;
				label {
					@include font($fontVarellaRound, 1.1rem, black);
					float: left;
					margin: 0.2rem 0 0.2rem 0;
					font-weight: 400;
					font-style: normal;
				}
				input {
					@include general-properties(18.75rem, 1.7rem, rgb(255, 255, 255));
					@include font($fontVarellaRound, 1rem, black);
					border-radius: 3%;
					border: 1px solid white;
					font-weight: 400;
					font-style: normal;

					&::placeholder {
						@include font($fontVarellaRound, small, rgb(185, 185, 185));
					}

					&:focus-visible {
						outline: none;
						border: 1px solid rgb(255, 255, 255);
						box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.96);
						background-color: rgb(239, 244, 210);
					}
				}
				.error {
					@include font($fontVarellaRound, smaller, red);
					float: right;
					margin-top: 0.3rem;
				}
			}
		}

		button {
			@include general-properties(18.75rem, 2.5rem, rgb(103, 217, 68));
			@include font($fontVarellaRound, 1rem, white, center);
			align-self: center;
			border-radius: 5px;
			margin-top: 0.6rem;
			border: 0;
			font-weight: 400;
			font-style: normal;
			cursor: pointer;
			&:hover {
				opacity: 0.9;
			}
			&:active {
				opacity: 1;
				background-color: rgb(61, 149, 34);
				box-shadow: 0px 0px 15px 0px gray;
			}
			&:disabled {
				opacity: 0.8;
			}
		}
	}
	.oauth-google {
		button {
			@include general-properties(18.75rem, 2.5rem, rgb(207, 207, 207));
			@include display-flex();
			@include font($fontVarellaRound, 1rem, white, center);
			margin: 0.6rem 0.6rem 0.9rem 0.6rem;
			border: 0;
			border-radius: 5px;
			align-items: center;
			font-weight: 400;
			font-style: normal;
			cursor: pointer;
			&:disabled {
				opacity: 0.8;
			}

			img {
				@include image(2rem, 2rem, cover);
				margin: 0;
			}
			p {
				color: white;
				margin: auto;
				font-weight: 500;
			}
			&:hover {
				background-color: rgb(186, 186, 186);
			}
			&:active {
				background-color: rgb(156, 156, 156);
				box-shadow: 0px 0px 5px 0px black;
			}
		}
	}
}
