@use "../../../../style/main" as *;

@keyframes ShortGuessTooltip {
	0% {
		transform: rotate(10deg);
	}
	20% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(10deg);
	}
}

@keyframes NotFoundGuessTooltip {
	0% {
		transform: rotate(10deg);
	}
	20% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(10deg);
	}
}

.short-guess-tooltip {
	@include general-properties(10rem, 3.5rem, rgb(0 0 0 / 73%));
	@include font(var(--fontVarellaRound), 1rem, white, center);
	@include display-flex();
	position: absolute;
	bottom: 58%;
	border-radius: 3px;
	animation-name: ShortGuessTooltip;
	animation-duration: 100ms;
	animation-iteration-count: 5;
	align-items: center;
	justify-content: center;
}

.notfound-guess-tooltip {
	@extend .short-guess-tooltip;
	animation-name: NotFoundGuessTooltip;
}
