@use "../../styles/main" as *;

.game-container {
	@include display-flex(column);
	height: 100%;
	align-items: center;
	justify-content: center;
}

@media (max-width: 700px) {
	.game-container {
		justify-content: space-evenly;
	}
}
