.start-game {
	width: 60%;
	background-color: rgb(193, 126, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2%;

	.start-game-card {
		display: flex;
		flex-direction: column;
		align-items: center;

		.help {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 20px;

			p {
				font-family: "Varela Round", sans-serif;
				font-size: 1.3rem;
				margin: 5px;
			}

			.guess {
				input {
					height: 40px;
					width: 40px;
					margin: 5px;
					text-align: center;
					font-family: "Varela Round", sans-serif;
					font-weight: 600;
					border: 0;
					border-radius: 10%;

					&:nth-child(1) {
						background-color: rgb(128, 128, 128);
					}
					&:nth-child(2) {
						background-color: rgb(36, 199, 36);
					}
					&:nth-child(3) {
						background-color: rgb(238, 238, 16);
					}
					&:nth-child(4) {
						background-color: rgb(128, 128, 128);
					}
					&:nth-child(5) {
						background-color: rgb(238, 238, 16);
					}
				}
			}

			.explain {
				list-style: none;
				margin: 5px;
				margin-bottom: 3px;
				span {
					display: flex;
					align-items: center;
					margin: 0px;
					input {
						height: 25px;
						width: 25px;
						margin: 2px;
						text-align: center;
						font-family: "Varela Round", sans-serif;
						font-weight: 600;
						border: 0;
						border-radius: 10%;
					}

					&:nth-child(1) {
						input {
							background-color: rgb(128, 128, 128);
						}
					}
					&:nth-child(2) {
						input {
							background-color: rgb(238, 238, 16);
						}
					}
					&:nth-child(3) {
						input {
							background-color: rgb(36, 199, 36);
						}
					}
				}
			}
		}

		button {
			background-color: rgb(36, 199, 36);
			color: white;
			height: 40px;
			width: 300px;
			border-radius: 3%;
			margin: 5px;
			border: 0;
			cursor: pointer;
			font-family: "Varela Round", sans-serif;
			font-size: large;
			font-weight: 400;
			font-style: normal;
			&:hover {
				opacity: 0.9;
			}
			&:active {
				opacity: 1;
				background-color: rgb(91, 200, 58);
				box-shadow: 0px 0px 5px 0px gray;
			}
		}
		span {
			margin: 10px;
			margin-bottom: 20px;
			.link {
				margin: 5px;
				padding: 0;
				font-family: "Varela Round", sans-serif;
				margin: 0px;

				a {
					color: blue;

					&:hover {
						color: rgb(25, 25, 130);
					}
					&:visited {
						color: blue;
					}
				}
			}
		}
	}
}
@media (max-width: 700px) {
	.start-game {
		margin: 5px;
		width: 90%;

		.start-game-card {
			.help {
				margin: 10px;

				p {
					margin: 2px;
					margin-bottom: 4px;
					font-size: 1.1rem;
				}
				.guess {
					margin-bottom: 4px;
					input {
						margin: 2px;
						-webkit-text-fill-color: #000000;
						opacity: 1;
					}
				}
				.explain {
					margin: 2px;
					span {
						width: 100%;
						margin-bottom: 4px;
						input {
							width: 20px;
							height: 20px;
							-webkit-text-fill-color: #000000;
							opacity: 1;
						}

						p {
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
}
