@use "../../../../styles/main" as *;

.start-game {
	@include general-properties(60%, 85%, rgb(193, 126, 255));
	@include display-flex(column);
	align-items: center;
	border-radius: 5px;

	.start-game-card {
		@include display-flex(column);
		align-items: center;
		margin: auto;

		.help {
			@include display-flex(column);
			align-items: center;
			margin: 0.5rem;

			p {
				@include font($fontVarellaRound, 1.15rem, black, justify);
				margin: 5px;
			}

			.guess {
				margin: 0.5rem;
				input {
					@include general-properties(2.2rem, 2.2rem, white);
					@include font($fontVarellaRound, 1rem, black, center);
					margin: 5px;
					font-weight: 600;
					border: 0;
					border-radius: 10%;

					&:nth-child(1) {
						background-color: rgb(128, 128, 128);
					}
					&:nth-child(2) {
						background-color: rgb(36, 199, 36);
					}
					&:nth-child(3) {
						background-color: rgb(238, 238, 16);
					}
					&:nth-child(4) {
						background-color: rgb(128, 128, 128);
					}
					&:nth-child(5) {
						background-color: rgb(238, 238, 16);
					}
				}
			}

			.explain {
				list-style: none;
				margin: 5px;
				span {
					@include display-flex();
					margin: 0px;
					input {
						@include general-properties(2rem, 2rem, white);
						@include font($fontVarellaRound, 0.9rem, black, center);
						margin: 2px;
						font-weight: 600;
						border: 0;
						border-radius: 10%;
					}

					&:nth-child(1) {
						input {
							background-color: rgb(128, 128, 128);
						}
					}
					&:nth-child(2) {
						input {
							background-color: rgb(238, 238, 16);
						}
					}
					&:nth-child(3) {
						input {
							background-color: rgb(36, 199, 36);
						}
					}
				}
			}
		}

		button {
			@include general-properties(300px, 40px, rgb(36, 199, 36));
			@include font($fontVarellaRound, large, white, center);
			border-radius: 5px;
			margin: 5px;
			border: 0;
			cursor: pointer;
			font-weight: 400;
			font-style: normal;

			&:hover {
				opacity: 0.9;
			}
			&:active {
				opacity: 1;
				background-color: rgb(91, 200, 58);
				box-shadow: 0px 0px 5px 0px gray;
			}
		}
		span {
			margin: 0.5rem;
			.link {
				@include font($fontVarellaRound, 1rem, black);
				padding: 0;
				margin: 0px;

				a {
					color: blue;

					&:hover {
						color: rgb(25, 25, 130);
					}
					&:visited {
						color: blue;
					}
				}
			}
		}
	}
}
@media (max-width: 700px) {
	.start-game {
		margin: 5px;
		width: 90%;

		.start-game-card {
			.help {
				margin: 10px;

				p {
					margin: 2px 2px 4px 2px;
				}
				.guess {
					margin: 4px;
					input {
						margin: 2px;
						-webkit-text-fill-color: #000000;
						opacity: 1;
					}
				}
				.explain {
					span {
						width: 100%;
						margin: 4px;
						input {
							-webkit-text-fill-color: #000000;
							opacity: 1;
						}
						p {
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
}
