@use "@/styles/main" as *;

.start-game {
	@include general-properties(65dvw, auto, rgb(151, 132, 255));
	@include display-flex(column);
	max-height: 98%;
	align-items: center;
	border-radius: 5px;
	overflow-y: auto;

	@include media-query($media-md) {
		margin: 0.3rem;
		width: 90%;
	}

	.start-game-card {
		@include display-flex(column);
		align-items: center;
		margin: auto;

		.help {
			@include display-flex(column);
			align-items: center;
			margin: 0.5rem;

			p {
				@include font($fontVarellaRound, 1.15rem, black, justify);
				margin: 0.3rem;
			}

			.guess {
				margin: 0.5rem;
				input[type="text"] {
					--color: black;
					@include general-properties(2.2rem, 2.2rem, white);
					@include font($fontVarellaRound, 1rem, --color, center);
					margin: 0.3rem;
					font-weight: 600;
					border-radius: 5px;

					&:nth-child(1) {
						background-color: rgb(128, 128, 128);
					}
					&:nth-child(2) {
						background-color: rgb(36, 199, 36);
					}
					&:nth-child(3) {
						background-color: rgb(238, 238, 16);
					}
					&:nth-child(4) {
						background-color: rgb(128, 128, 128);
					}
					&:nth-child(5) {
						background-color: rgb(238, 238, 16);
					}
				}
			}

			.explain {
				margin: 0.3rem;
				span {
					@include display-flex();

					@include media-query($media-md) {
						width: 100%;
						margin: 0.2rem;
					}
					input[type="text"] {
						@include general-properties(2rem, 2rem, white);
						@include font($fontVarellaRound, 0.9rem, black, center);
						margin: 0.2rem;
						font-weight: 600;
						border-radius: 7px;
					}

					&:nth-child(1) {
						input[type="text"] {
							background-color: rgb(128, 128, 128);
						}
					}
					&:nth-child(2) {
						input[type="text"] {
							background-color: rgb(238, 238, 16);
						}
					}
					&:nth-child(3) {
						input[type="text"] {
							background-color: rgb(36, 199, 36);
						}
					}

					@include media-query($media-md) {
						p {
							font-size: 1rem;
						}
					}
				}
			}
		}

		.btn {
			background-color: #028ea0;
			font-size: 1.1rem;
			&:hover {
				opacity: 0.9;
			}
			&:active {
				opacity: 1;
				background-color: #005d69;
				box-shadow: 0px 0px 5px 0px gray;
			}
		}
		span {
			margin: 0.5rem;
			.link {
				@include font($fontVarellaRound, 1rem, black);
				margin: 0.2rem;
				a {
					color: blue;

					&:hover {
						color: rgb(25, 25, 130);
					}
					&:visited {
						color: blue;
					}
				}
			}
		}
	}
}
