.game-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 768px) {
	.game-container {
		justify-content: space-evenly;
	}
	.input-container {
		margin-top: 10px;

		input {
			height: 3rem;
			width: 3.1rem;
		}
	}

	.keyboard-container {
		width: 95vw;
		margin: 10px;
		height: 30%;
		.container-row {
			gap: 2px;
			button {
				font-size: x-small;
				font-weight: 700;
			}
		}
	}
}
